# Problem Description

# Exploratory Data Analysis (EDA)

In [84]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from ast import literal_eval

In [85]:
mv = pd.read_csv('movies_metadata.csv')
mv.head()

/tmp/ipykernel_207593/161917937.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  mv = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [86]:
mv.shape

(45466, 24)

In [87]:
mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [88]:
mv.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [89]:
mv.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [90]:
mv['genres'] = mv['genres'].apply(literal_eval).apply(lambda x: [d['name'] for d in x])
mv['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [91]:
mv['year'] = pd.to_datetime(mv['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [92]:
mv.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995

In [93]:
lk = pd.read_csv('links_small.csv')
lk = lk[lk['tmdbId'].notnull()]['tmdbId'].astype('int')

In [94]:
mv = mv.drop([29503, 19730, 35587])
mv['id'] = mv['id'].astype('int')
df = mv[mv['id'].isin(lk)]
df.shape

(9099, 25)

In [95]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995

In [96]:
# fill features that have large na's so that we don't drop large amounts of rows that may have meaningful vote and popularity data
df['tagline'] = df['tagline'].fillna('')
df['desc'] = df['tagline'] + " " + df['overview']
df['desc'] = df['desc'].fillna('')
df.head()

/tmp/ipykernel_207593/1810792674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tagline'] = df['tagline'].fillna('')
/tmp/ipykernel_207593/1810792674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['desc'] = df['tagline'] + " " + df['overview']
/tmp/ipykernel_207593/1810792674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['desc'] = df['desc'].fillna('')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,desc
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Roll the dice and unleash the excitement! When...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,Still Yelling. Still Fighting. Still Ready for...
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,Friends are the people who let you be yourself...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,Just When His World Is Back To Normal... He's ...

In [97]:
df = df.dropna()
df.shape

(503, 26)

# Analysis (Model Building and Training)

The movie overviews and titles are not quantitative features. We do however have a way that we can use these features to improve our model performance in a qualitative way, and here I will try to build a recommender using these string value features.

In [98]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0.0, stop_words='english')
tfidf_mat = tf.fit_transform(df['desc'])
tfidf_mat.shape

(503, 21055)

I want to create a numeric value that captures the similarity between any two given movies. There are a few ways I can do this including using Cosine similarity, and since I have the TFIDF vectorizer computed above, I can use the dot product to produce the cosine simlarity score.

In [99]:
cosim = linear_kernel(tfidf_mat, tfidf_mat)
cosim

array([[1.        , 0.        , 0.        , ..., 0.00890564, 0.        ,
        0.00472681],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.01442842,
        0.        ],
       ...,
       [0.00890564, 0.        , 0.        , ..., 1.        , 0.        ,
        0.00208054],
       [0.        , 0.        , 0.01442842, ..., 0.        , 1.        ,
        0.07510919],
       [0.00472681, 0.        , 0.        , ..., 0.00208054, 0.07510919,
        1.        ]])

In [100]:
cosim[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01057267, 0.00678656, 0.01066355,
       0.        , 0.        , 0.        , 0.        , 0.00785986,
       0.        , 0.00946662, 0.01684039, 0.        , 0.        ,
       0.        , 0.01520849, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01201613, 0.00638159, 0.        ,
       0.        , 0.        , 0.        , 0.01258017, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00959355, 0.        , 0.01098068,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01175293, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0216396 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0091121 , 0.        ,
       0.        , 0.01957413, 0.        , 0.26074396, 0.        ,
       0.        , 0.        , 0.01743108, 0.        , 0.        ,
       0.00778228, 0.        , 0.        , 0.        , 0.01595385,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00902983,
       0.        , 0.        , 0.01016438, 0.00764626, 0.        ,
       0.01060996, 0.02337969, 0.03183791, 0.        , 0.0075288 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00531525, 0.        , 0.        , 0.        ,
       0.        , 0.00913757, 0.        , 0.00472681, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00675852, 0.01078834, 0.        , 0.        , 0.00876635,
       0.02006925, 0.        , 0.        , 0.02235782, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00783995, 0.        ,
       0.        , 0.        , 0.01321652, 0.        , 0.        ,
       0.        , 0.00801782, 0.        , 0.        , 0.        ,
       0.        , 0.00598496, 0.00787894, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00513519,
       0.        , 0.        , 0.        , 0.        , 0.00636882,
       0.00857023, 0.01574963, 0.        , 0.00914628, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0070163 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00838857, 0.        , 0.        , 0.        , 0.00861497,
       0.        , 0.01621524, 0.00585596, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00555907,
       0.        , 0.        , 0.01134344, 0.        , 0.        ,
       0.01037889, 0.        , 0.        , 0.        , 0.00740651,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.011206  , 0.        ,
       0.        , 0.01049914, 0.02039847, 0.        , 0.        ,
       0.        , 0.        , 0.00600202, 0.00662178, 0.        ,
       0.00676592, 0.        , 0.        , 0.        , 0.        ,
       0.00785922, 0.00948508, 0.01164207, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00838989,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00991752,
       0.        , 0.        , 0.        , 0.        , 0.00579298,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00940697, 0.        , 0.25348068, 0.        ,
       0.        , 0.        , 0.        , 0.01333806, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00838694, 0.        , 0.        , 0.0092358 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01811228, 0.01434214, 0.        ,
       0.00717786, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01841681, 0.        ,
       0.        , 0.        , 0.        , 0.00949077, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00836695, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01562824, 0.        ,
       0.        , 0.00482365, 0.        , 0.        , 0.00767286,
       0.        , 0.00602867, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00532764, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01116652, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0091543 ,
       0.        , 0.        , 0.        , 0.        , 0.00979336,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00503057, 0.        , 0.        , 0.        , 0.00829691,
       0.        , 0.        , 0.        , 0.00652329, 0.00995215,
       0.0076087 , 0.        , 0.        , 0.01240539, 0.00623615,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00906252, 0.00616249, 0.        , 0.01190634,
       0.        , 0.        , 0.00477558, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0066141 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00583425, 0.        , 0.        , 0.        ,
       0.        , 0.00624063, 0.        , 0.        , 0.        ,
       0.01427618, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00890564, 0.        , 0.00472681])

We can now experiment with implementing a function that returns the 25 most similar movies based on the cosine similarity score.

In [101]:
df = df.reset_index()
titles = df['title']
indices = pd.Series(df.index, index=df['title'])

In [110]:
def get_cosim_recommendations(title):
    i = indices[title]
    sims = list(enumerate(cosim[i]))
    ssims = sorted(sims, key=lambda s: s[1], reverse=True)
    ssims = ssims[1:26]
    return titles.iloc[[t[0] for t in ssims]]

In [111]:
get_cosim_recommendations('The Dark Knight').head(10)

367                 The Dark Knight Rises
369    Sherlock Holmes: A Game of Shadows
168                         Batman Begins
483    Batman v Superman: Dawn of Justice
413                       Despicable Me 2
43                    Tomorrow Never Dies
113                              Blade II
320       Wall Street: Money Never Sleeps
125                               Brother
449          Sin City: A Dame to Kill For
Name: title, dtype: object

In [112]:
get_cosim_recommendations('Toy Story').head(10)

78                                  Toy Story 2
308                                 Toy Story 3
107    Harry Potter and the Philosopher's Stone
106                              Monsters, Inc.
143                         You Only Live Twice
66                                 Ghostbusters
257                                    Twilight
140                                     Hellboy
76                         Bride of Re-Animator
353                                       Gantz
Name: title, dtype: object

We see that the recommendations are good at a high-level, capturing similar movies based on title. For example, with The Dark Knight, the recommendation system is able to suggest other Batman movies. However, it's unable to capture other movies that are in a similar genre, perhaps other superhero movies like Spiderman. There are other features such as cast, meaning actors or actresses, that are usually important for the popularity of a movie and what folks are interested in watching. Next, I am going to try to improve on this by taking more features in building this recommendation system such as cast and genre.

# Results

# Conclusion